@import '~bootstrap/scss/bootstrap';

.footer-wrapper{
    height: 170px;
    color: white;
    .title{
        padding: 30px 20px;
        font-size: 16px;
    }
    .link-icon{
        padding: 0 20px;
        .icon{
            padding: 10px 20px;
            color: rgb(201, 189, 20);
        }
    }
    .copy-right{
        padding-top: 10px;
        text-align: center;
    }
}